
html {
  scroll-behavior: smooth;
}

.navbar{
  width:100%;
  position: sticky;
  top: 0;
  padding: 15px;
  overflow: hidden;
  background-color: white;
  margin-top: 0;
  z-index: 1;
  box-shadow: 0 1px 1px 0 rgba(36, 50, 66, 0.15);
}

.navbar-left{
  color: #333;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

.navbar-right a {
  padding: 0px 30px;
  text-decoration: none;
  color: #333;
}

#about{
  background-image: url('https://cdn.fstoppers.com/styles/full/s3/photos/2018/05/1ef8f467f05f1b91044dee3e9d971194.jpg?itok=Ynoo4qx3');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#about h2{
  font: 22px/30px 'Open Sans', sans-serif;
  font-weight: 700;
  color: #fff;
  margin-bottom: 12px;
  text-align: center;
}

#about h3{
  border-bottom: 3px solid #fff;
  color: #fff;
  font: 400 18px/24px "Raleway",sans-serif;
  margin-bottom: 15px;
  padding-bottom: 10px;
  text-align: center;
}

#about p{
  line-height: 30px;
  color: #fff;
}


.bio-container{
  width: 100%;
  padding: 0;
  margin:0;
}

.bio-left{
  background: rgba(0,0,0, 0.4);
  padding: 60px 30px;
}

.pp-container{
  text-align: center;
  display: block;
  margin: 5px auto;
  padding: 10px;
  width: 225px;
}

.profile-pic{
  border: 5px solid #b1b2b4;
  border-radius: 100%;
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.2);
  height: auto;
  margin: 15px 18px;
  position: relative;
  width: 80%;
}

.bio-right{
  background: rgba(0, 0, 0, 0.8);
  padding: 50px;
  overflow: scroll;
}

.contact-container{
  text-align: center;
  padding: 20px 5%;
  background-color: #222831;
  color: white;
  text-shadow: 1px 1px 1px rgba(33, 33, 33, 0.2);
}

.card-holder{
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.card{
  width: 150px;
  margin: 20px;
  text-align: center;
  background-color: #222831;
  border: none;
}

.card a{
  color: white;
  text-decoration: none;
  transition: all .3s ease-in-out;
}
.card p{
  font-size: 15px;
  padding: 0 12px;
}

.card a:hover{
  transform: scale(1.1);
}

.portfolio{
  text-align: center;
  justify-content: center;
}

.newsapp{
  margin-top: 20px;
  padding-top: 20px;
  display: flex;
  width: 100%;
  background-color: #FED586;
  background: linear-gradient(to right, #ffa751, #ffe259);
}

.display{
  margin: 0 auto;
  position: relative;
}

.display a {
  text-decoration: none;
  transition: all .3s ease-in-out;
}

.display img:hover{
  transform: scale(1.1);
}

.display img{
  width: 95%;
  max-width: 700px;
  position: relative;
  top: 14px;
}

.description h4{
  font-size: 25px;
  font-weight: 300;
  margin-top: 20px;
}

.description h2{
  font-size: 35px;
  font-weight: 300;
  margin-top: 20px;
}

.picture-perfect{
  padding-top: 20px;
  display: flex;
  width: 100%;
  background: #03B79B;
  background: linear-gradient(to left, #03B79B, #14FDC3);
}

.saveit{
  padding-top: 20px;
  display: flex;
  width: 100%;
  background: #EDB0EF;
  background: linear-gradient(to left, #EDB0EF, #AFE1BC);
}

@media only screen and (max-width: 620px) {
  .navbar-left {
    margin: auto;
  }
}
